<form class="form-horizontal" ng-submit="addPatient()">
<fieldset>

<!-- Form Name -->
<legend>Add Patient</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">Initials</label>  
  <div class="col-md-4">
  <input id="initials" name="initials" type="text" ng-model="patient.initials" placeholder="" required="" maxlength="2" class="form-control input-md" > 
  <span class="help-block">Max 2 characters</span> 
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="refrecieved">Date of Birth of mother</label>  
  <div class="col-md-4">
  <input id="dob" name="dob" type="date" ng-model="patient.dob" placeholder="" required="" class="form-control input-md" >
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="refrecieved">Referral for fetal cardiac scan received</label>  
  <div class="col-md-4">
  <datetimepicker id="refrecieved" data-datetimepicker-config="{ minView: 'hour' }" ng-change="checkDates()" name="refrecieved"  data-ng-model="patient.refrecieved"></datetimepicker>
  </div>
</div>
    </div>
    <div class="col-sm-6">
     <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="scanundertaken">Fetal cardiac scan undertaken</label>  
  <div class="col-md-4">
  <datetimepicker id="scanundertaken" data-datetimepicker-config="{ minView: 'hour' }" ng-change="checkDates()" name="scanundertaken"  data-ng-model="patient.scanundertaken"></datetimepicker>
  </div>
</div>
    </div>
  </div>
</div>

<div id="reasonfordelay_container" style="display: none;">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="reasonfordelay">Reason for delay</label>  
  <div class="col-md-4">
  <input id="reasonfordelay" name="reasonfordelay" ng-model="patient.reasonfordelay" type="text" placeholder="" class="form-control input-md" >
    
  </div>
</div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="abnormaloutcome">Abnormal Outcome?</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="abnormaloutcome-0">
      <input type="checkbox" name="abnormaloutcome" onclick="$('#chdtype_container').toggle();
	if ($('#chdtype').attr('required')) {
        $('#chdtype').removeAttr('required');
    } else {
        $('#chdtype').attr('required', 'required');
    }" ng-model="patient.abnormaloutcome" id="abnormaloutcome-0" value="abnormal">
      Y (leave unticked if normal)
    </label>
	</div>
  </div>
</div>

<div id="chdtype_container" style="display: none;">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="chdtype">Type of CHD</label>  
  <div class="col-md-4">
  <input id="chdtype" name="chdtype" type="text" ng-model="patient.chdtype" placeholder="" class="form-control input-md" > 
  <span class="help-block">Enter CHD types, followed by a comma (,)</span> 
  </div>
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="whereseen">Where seen?</label>  
  <div class="col-md-4">
  <input id="whereseen" name="whereseen" ng-model="patient.whereseen" type="text" class="form-control input-md" >
  <span class="help-block">Enter the hospital code</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="gestationalageweeks">Gestational age</label>  
  <div class="col-md-4">
  <input id="gestationalageweeks" name="gestationalageweeks" placeholder="Weeks" ng-model="patient.gestationalageweeks" maxlength="2" type="text" class="form-control input-md" >
  <input id="gestationalagedays" name="gestationalagedays" placeholder="Days" ng-model="patient.gestationalagedays" maxlength="2" type="text" class="form-control input-md" >
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="addPatient"></label>
  <div class="col-md-8">
    <input type="submit" id="addPatient" name="addPatient" class="btn btn-success" value="Save Record" />
  </div>
</div>

</fieldset>
</form>
